@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .rect {
    @apply w-9/12 py-2 xs:py-4 max-w-md border border-primary-purple rounded-lg font-bold transition-all hover:shadow-xl hover:scale-[1.02] active:outline-indigo-400
  }

  /* .myGradient {
    background: linear-gradient(0deg, rgba(140,82,255,1) 0%, rgba(249,11,196,0) 100%);
  } */


  .blob {

    box-shadow: 0 0 0 0 rgba(140, 82, 255, 1);
    transform: scale(1);
    animation: pulse 3s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(140, 82, 255, .7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(140, 82, 255, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(140, 82, 255, 0);
    }
  }

  .blob-green {

    box-shadow: 0 0 0 0 rgba(16, 212, 127, 1);
    transform: scale(1);
    animation: pulse-green 3s infinite;
  }

  @keyframes pulse-green {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(16, 212, 127, .7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(16, 212, 127, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(16, 212, 127, 0);
    }
  }
}